<body>
<nz-layout>

  <nz-header>
    <h1 nz-typography>Project Management</h1>
  </nz-header>

  <nz-content>
    <button *ngIf="authService.authenticated | async" (click)="authService.logout()">
      <i nz-icon nzType="logout" nzTheme="outline"></i>
    </button>
  </nz-content>

  <nz-content>
    <div>
      <input nz-input #projectNameLabel placeholder="Enter a unique project name" [(ngModel)]="newProjectName" />
      <br/>
      <br/>
      <button nz-button nzType="primary" (click)="addNewProject(); projectNameLabel.value = ''; ngOnInit()" >Add New Project</button>
    </div>
  </nz-content>

  <nz-content>
    <nz-table #basicTable [nzData]="projects">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>
          <a [routerLink]="['/projects/' + data.name]">Open</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="deleteProject(data)">Delete </a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="renameProject(data)">Rename </a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-content>

</nz-layout>

</body>
