<body>
<nz-layout>

  <nz-header>
    <h1 nz-typography>{{projectName}}</h1>
  </nz-header>

  <nz-content>
    <button>
      <a [routerLink]="['/projects']">
        <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
      </a>
    </button>
  </nz-content>

  <nz-content>
    <div>
      <input nz-input #projectNameLabel placeholder="Enter a project unique file name " [(ngModel)]="newFileName" />
      <br/>
      <br/>
      <button nz-button nzType="primary" (click)="createFile(newFileName, projectName); projectNameLabel.value = ''; ngOnInit()" >Create File</button>
    </div>
  </nz-content>



  <nz-content>
    <nz-table #basicTable [nzData]="files">
      <thead>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>
          <a [routerLink]="['/editor/' + projectName + '/' + data.name]">Open</a>
          <a nz-button nzType="link" (click)="deleteFile(data.name, projectName)">Delete</a>
          <a nz-button nzType="link" (click)="renameFile(data.name, newFileName)">Rename</a>
          <nz-divider nzType="vertical"></nz-divider>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-content>

</nz-layout>

</body>
